<!doctype html>
<html>
    <head>
        <style>
        .error {color: red;}

        body {background-color: #111111;
        color: white;
        font-family:candara; 
        text-align: center;}
        
        a, a:visited {
        color: white;
        text-shadow: 2px 0px 0px #66a3ff;
        text-decoration: none;
        font-weight: bold;
        }
        
        a:hover {
        color: #66a3ff;
        text-shadow: 2px 0px 0px #ffffff;}

        </style>
        <title>{{title}}</title>

    </head>
<body>
    <nav>
        <text align="left">
        <a href="/">Home</a> - 
        <a href="/blog">Blog</a> - 
        <a href="/addpost">Add Post</a> </text>
        <text align="right">
        <a href="/login">Login</a> -
        <a href="/signup">Signup</a> -
        <a href="/logout">Logout</a></text>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>